.cloudsPhoto {
  width: 100%;
}
.fpOptionLink {
  display: inline-block;
  text-decoration: none;
}
.fpOption {
  padding: 20px;
  border: 1px solid black;
  margin: 20px;
  border-radius: 15px;
}
.fpOption:hover {
  border: 5px solid rgb(47, 182, 205);
  margin: 15px;
}
.optionTitle {
  color:  rgb(47, 182, 205);
}
.loadingBar {
  background-color: black;
  padding: 5px;
  opacity: 15%;
}
.progressBar {
  position: relative; top: 10px;
  background-color: rgb(47, 182, 205);
  padding: 5px;
}
.uploadBox {
  background-color: rgb(163, 163, 163);
  padding: 200px;
}
.submitBtn {
  margin: 15px 0px 15px 0px;
}
.emeMsg {
  padding: 15px;
  border-radius: 15px;
  background-color: rgb(219, 107, 107);
  border: 3px solid rgb(105, 41, 41);
}
.box {
  padding: 25px;
  margin-top: 50px!important;
  border-radius: 25px;
  background-color: azure;
}
.downloadLink {
  white-space: nowrap;
}
.navbar {
  background-color: aliceblue;
}