.cloudsPhoto {
  width: 100%;
}
.fpOptionLink {
  display: inline-block;
  text-decoration: none;
}
.fpOption {
  padding: 20px;
  border: 1px solid black;
  margin: 20px;
  border-radius: 15px;
}
.fpOption:hover {
  border: 5px solid rgb(47, 182, 205);
  margin: 15px;
}
.optionTitle {
  color:  rgb(47, 182, 205);
}